name: CI

on: [push, pull_request]

jobs:
  fmt:
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Rust
      run: |
        rustup update --no-self-update stable
        rustup component add rustfmt

    - name: Run fmt
      run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Rust
      run: |
        rustup update --no-self-update stable
        rustup component add clippy

    - name: Run clippy
      run: cargo clippy -- -D warnings

  test:
    strategy:
      matrix:
        platform: [ubuntu-20.04, windows-latest, macos-latest]

    runs-on: ${{ matrix.platform }}

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install and run minio
      if: matrix.platform == 'ubuntu-20.04'
      run: |
        MINIO_RELEASE="2021-03-26T00-00-41Z"
        LINK="https://dl.min.io/server/minio/release/linux-amd64/archive/"
        curl --output minio "$LINK/minio.RELEASE.$MINIO_RELEASE"
        chmod +x minio
        ./minio server minio_data/ &

    - name: Run tests
      if: matrix.platform == 'ubuntu-20.04'
      run: cargo test

    - name: Run tests
      if: matrix.platform != 'ubuntu-20.04'
      run: cargo test --lib

    - name: Run tests no default features
      run: cargo test --lib --no-default-features

  msrv:
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Rust
      run: rustup default 1.61

    - name: Run tests
      run: cargo test --lib

  coverage:
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install cargo-tarpaulin
      run: |
        LINK="https://github.com/xd009642/tarpaulin/releases/download/0.20.1/cargo-tarpaulin-0.20.1-travis.tar.gz"
        curl -L --output tarpaulin.tar.gz "$LINK"
        tar -xzvf tarpaulin.tar.gz
        chmod +x cargo-tarpaulin

    - name: Run cargo-tarpaulin
      run: ./cargo-tarpaulin tarpaulin --lib --out Xml

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v3.1.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        args: '--lib'

    - name: Archive code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: code-coverage-report
        path: cobertura.xml
